# images
*.jpg
*.png
*.jpeg
*.mp4
*.mp3

# cad files
*.SLDPRT
*.STEP
*.ALDASM
*.stp

# log files
*.log

# lib file paths
*.pyc

# Python setup
venv/
**/__pycache__

stepper_captures